@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", sans-serif;
    font-weight:700;
    font-style: normal;
}

main {
    min-height: 100vh;
}

.font-normal {
    font-weight: 700;
}

@keyframes loading {
    0% {
        opacity: 0;
        filter: blur(1.5rem);
    }

    50% {
        opacity: .5;
        filter: blur(.75rem)
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.outline {
    outline-style: none;
}

.loading-out {
    animation: loading-out .5s linear;
}

@keyframes loading-in-lazy {
    20% {
        opacity: 0;
        filter: blur(1.5rem);
    }

    50% {
        opacity: .5;
        filter: blur(.75rem)
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.lazy-load {
    animation: loading-lazy 0.3s linear
}

.fail {
    color: red;
}

.done {
    color: green;
}


.color-gray {
    color: gray;
}

.absolute-alert {
    position: fixed;
    width: 20rem !important;
    top: 5%;
    right: 50%;
    transform: translate(50%, 100%);
    transition: all 0.3s ease-in-out;
}

.visible {
    display: inline-block;
    z-index: 100;
    width: 100%;
}

.abs-t-r {
    position: absolute;
    top: 12%;
    right: 41.5%;
}

.hidden {
    display: none;
}

.loading {
    animation: loading 0.5s linear;
}

.loading-f {
    animation: loading 0.3s linear;
}

.left-3 {

   right: 1.5rem;
    top: .5rem;
}

.absoluteee {
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 50;
}

.centered {
    margin: 5rem auto;
    width: 100%;

}

@media(max-width: 560px) {
    .centered{
        height: 100vh;
    }
}

@media (max-width: 1500px) {
    .middle-side-posts {
        width: 50%;
    }
}

.middle-side-posts {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 50%;
}

.height100 {
    height: 90vh;
}

@keyframes slide-right {
    0% {
        transform: translateX(100%);
    }
    60% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0);
    }
}



@keyframes slide-left {
    0% {
        transform: translateX(-300%)
    }
    60% {
        transform: translateX(40%)
    }
    100% {
        transform: translateX(0)
    }
}
.scroll-btn {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 2.5%;
    bottom: 10%;
    z-index: 200;
}

.slide-right {
    animation: slide-right 0.4s linear;
}
.slide-left {
    animation: slide-left 0.4s linear;
}

.posts-reset-btn {
    position: absolute;
    top: 19.73%;
    backdrop-filter: blur(15px);
    background-color: aqua;

}

.chat-firstpage {
    animation: slide-right .4s linear;
}

.bd-t-r-t-b {
    border-radius: 0;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.mt-4 {
    align-items: center;
}

